$zhawlogo: #104D7D;

$sdgColors: (
    1: #E4253C,
    2: #DEA73A,
    3: #4C9F45,
    4: #C5202E,
    5: #F0412B,
    6: #29BEE2,
    7: #FAC315,
    8: #A21C44,
    9: #F26A2C,
    10: #DD1768,
    11: #F99D27,
    12: #BE8B2C,
    13: #417F45,
    14: #1C97D3,
    15: #5DBB47,
    16: #06699E 
);

$deptColors: (
    "A": #000000,
    "G": #D59544,
    "L": #1D3474,
    "N": #799DCB,
    "P": #EC702C,
    "S": #BABE55,
    "T": #CF312D,
    "W": #558FBF
);

// The search option MUST be first, because it overrides the mark classes otherwise
.searchoption {
    background-color: $gray-500;

    &.cat {
        color: $white;
    }
}

@each $id, $code in $sdgColors {
    $nullid: $id;
    @if $id < 10 {
        $nullid: "0#{$id}";
    }

    .mark.cat-#{$nullid} ,
    .marker.cat-#{$nullid} {
        background-color: $code;
        &::before {
            content: "#{$id}";
        }
    }
}

@each $id, $code in $deptColors {
    .mark.cat-#{$id},
    .marker.cat-#{$id} {
        background-color: $code;
        &::before {
            content: "#{$id}";
        }
    }
}

.mark, 
.marker {
    color: $white;
}

.counter {                  
    color: $gray-600;
    background-color: $gray-400;
}

.optionclose {
    background-color: $gray-500;
}

.type {
    
    background-color: $secondary;
    color: $white;

    &.active {
        background-color: $primary;
    }
}
