div:lang(de) { 
    .resultcontainer {
        .abstract.title::before {
            content: "Übersicht";
        }

        .classification.title::before {
            content: "Klassifikation";
        }

        .matches.title::before {
            content: "Indexbegriffe";
        }

        .keywords.title::before {
            content: "Schlagworte";
        }

        .subtype.title::before {
            content: "Typ";
        }
    }

    .info .alert {
        &.intransit::before {
                content: "Ihr Netzwerk ist langsam. Weitere Ergebnisse sind auf dem Weg.";
        }

        &.EOF::before { // stylelint-disable-line 
                content: "Die Suche hat nicht mehr Ergebnisse.";
        }

        .scroll-limit::before {
                content: "Sie haben ";
        }

        .scroll-limit::after {
            content: " Einträge angesehen. Versuchen Sie eine präziserere Suche.";
        }
    }

    .searchform {
        .input-group-text::before {
            content: "Hinzufügen mit Eingabetaste";
        }

        #query-warning::before {
           content: "Das Indexsuche existiert bereits.";
        }
    }

    #warnings {
        #loading_data::before { // stylelint-disable-line 
            content: "Die Ergebnisse sind auf dem Weg. Bitte haben sie noch etwas Geduld ...";
        }

        #no_data::before { // stylelint-disable-line 
            content: "Die Suche hat leider keine Ergebnisse.";
        }

        #request_error .message::before { // stylelint-disable-line 
            content: "Bei der Suche gab es einen Fehler.";
        }
    }

    .sdg h3::before{
        content: "Sustainable Development Goals";
    }

    .department h3::before{
        content: "Departemente";
    }

    .people {
        h3::before{
            content: "Personen ";
        }
    }

    .tooltip {
        #newsearch::before {
            content: "Neue Suche";
        }
    }
}
