:lang(de) { 
    .resultcontainer {
        .abstract.title::before {
            content: "Übersicht";
        }

        .classification.title::before {
            content: "Klassifikation";
        }

        .matches.title::before {
            content: "Indexbegriffe";
        }

        .keywords.title::before {
            content: "Schlagworte";
        }

        .subtype.title::before {
            content: "Typ";
        }
    }

    .info .alert {
        &.intransit::before {
                content: "Ihr Netzwerk ist langsam. Weitere Ergebnisse sind auf dem Weg.";
        }

        &.EOF::before { // stylelint-disable-line 
                content: "Die Suche hat nicht mehr Ergebnisse.";
        }

        .scroll-limit::before {
                content: "Sie haben ";
        }

        .scroll-limit::after {
            content: " Einträge angesehen. Versuchen Sie eine präziserere Suche.";
        }
    }

    .searchform {
        .input-group-text::before {
            content: "Hinzufügen mit Eingabetaste";
        }

        #query-warning::before {
           content: "Das Indexsuche existiert bereits.";
        }
    }

    #warnings {
        #loading_data::before { // stylelint-disable-line 
            content: "Die Ergebnisse sind auf dem Weg. Bitte haben sie noch etwas Geduld ...";
        }

        #no_data::before { // stylelint-disable-line 
            content: "Die Suche hat leider keine Ergebnisse.";
        }

        #request_error .message::before { // stylelint-disable-line 
            content: "Bei der Suche gab es einen Fehler.";
        }
    }

    .sdg h3::before{
        content: "Sustainable Development Goals";
    }

    .department h3::before{
        content: "Departemente";
    }

    .people {
        h3::before{
            content: "Personen ";
        }
    }

    .tooltip.newsearch .tooltip-inner::before {
        content: "Neue Suche";
    }

    .tooltip.savematcher .tooltip-inner::before {
        content: "Als Indexsuche speichern";
    }

    .tooltip.addbookmark .tooltip-inner::before {
        content: "Suche als Lesezeichen speichern";
    }

    .tooltip.downloadresults .tooltip-inner::before {
        content: "Ergebnisse herunterladen";
    }

    .tooltip.overviewpublications .tooltip-inner::before {
        content: "Publikationen";
    }

    .tooltip.overviewprojects .tooltip-inner::before {
        content: "Projekte";
    }

    .tooltip.overviewpeople .tooltip-inner::before {
        content: "Personen";
    }

    .tooltip.overviewmodules .tooltip-inner::before {
        content: "Module";
    }

    .tooltip.menulogout .tooltip-inner::before {
        content: "Abmelden";
    }

    .tooltip.menusettings .tooltip-inner::before {
        content: "Einstellungen";
    }

    .tooltip.menuindexterms .tooltip-inner::before {
        content: "Index Begriffe";
    }

    .tooltip.menuvisualisation .tooltip-inner::before {
        content: "Visualisierung";
    }

    .tooltip.menupubtypes .tooltip-inner::before {
        content: "Publikationsarten";
    }

    .tooltip.menuclassifications .tooltip-inner::before {
        content: "Klassifikationen";
    }

    .tooltip.menubookmarks .tooltip-inner::before {
        content: "Lesezeichen";
    }

    .tooltip.sdg-1 .tooltip-inner::before {
        content: "Keine Armut";
    }

    .tooltip.sdg-2 .tooltip-inner::before {
        content: "Hunger beenden";
    }

    .tooltip.sdg-3 .tooltip-inner::before {
        content: "Gute Gesundheit und Wohlbefinden";
    }

    .tooltip.sdg-4 .tooltip-inner::before {
        content: "Qualität in der Bildung";
    }

    .tooltip.sdg-5 .tooltip-inner::before {
        content: "Gleichheit der Geschlechter";
    }

    .tooltip.sdg-6 .tooltip-inner::before {
        content: "Sauberes Wasser und sanitäre Einrichtungen";
    }

    .tooltip.sdg-7 .tooltip-inner::before {
        content: "Günstige und saubere Energie";
    }

    .tooltip.sdg-8 .tooltip-inner::before {
        content: "Menschenwürdige Arbeit und Wirtschaftswachstum";
    }

    .tooltip.sdg-9 .tooltip-inner::before {
        content: "Industrie, Innvation und Infrastruktur";
    }

    .tooltip.sdg-10 .tooltip-inner::before {
        content: "Abbau von Ungleichheiten";
    }

    .tooltip.sdg-11 .tooltip-inner::before {
        content: "Nachhaltige Städte und Gemeinden";
    }

    .tooltip.sdg-12 .tooltip-inner::before {
        content: "Veranwortungsvoll Konsumieren und Produzieren";
    }

    .tooltip.sdg-13 .tooltip-inner::before {
        content: "Handeln für den Klimaschutz";
    }

    .tooltip.sdg-14 .tooltip-inner::before {
        content: "Leben unter Wasser";
    }

    .tooltip.sdg-15 .tooltip-inner::before {
        content: "Leben an Land";
    }

    .tooltip.sdg-16 .tooltip-inner::before {
        content: "Frieden, Gerechtigkeit und starke Institutionen";
    }

    .tooltip.resultunfold .tooltip-inner::before {
        content: "Details öffnen/schliessen";
    }

    .tooltip.tooldownload .tooltip-inner::after {
        content: "Zur Datenquelle";
    }
}
