#mainarea {
    grid-area: content;
    margin-right: .5em;
    padding-right: 1.5em;
    margin-left: 2em;
    overflow-y: scroll;
    overflow-x: hidden;
}

#warnings {
    grid-area: content;
    z-index: 10;
    display: grid;

    grid-template-areas: "message";
   
    align-items: start;
    
    .alert {
        grid-area: message;
        justify-self: center;
        margin-top: 2em;
    }
}

.resultcontainer {
    display: grid;
    grid-template-columns: 1em 8em auto 5em;
    grid-template-rows: auto auto 2.5em;
    grid-template-areas: 
        "title title title year"
        ". authors authors tools"
        ". categories categories categories"
    ;

    &:has(.bi-layer-forward) {
        grid-template-rows: auto auto auto auto auto 2em 2.5em;
        grid-template-areas: 
            "title title title year"
            ". authors authors tools"
            ". absttl abs abs"
            ". kwttl kw kw"
            ". clsfttl clsf clsf"
            ". tpttl tp tp"
            ". categories categories extratools"
        ;
    }

    margin-top: 1em;
    margin-bottom: 1em;

    @extend .border;

    .authors,
    .categories,
    .year,
    .tools {
        @extend .border;
    }

    .type,
    .abstract, 
    .keywords,
    .classification,
    .matches,
    .subtype {
        @extend .border;
        padding-left: .5em;
        padding-right: .5em;
    }

    .subtype.title,
    .abstract.title, 
    .keywords.title,
    .matches.title,
    .classification.title {        
        display: inline-block;
        color: $gray-600;
        padding-right: 1em;
        text-align: right;
    }

    .title {
        @extend .border;
        @extend .fw-bolder;
        
        grid-area: title;

        padding-left: .5em;
        padding-right: .5em;
    }

    .authors {
        grid-area: authors;

        padding-left: .5em;
        padding-right: .5em;
        white-space: normal;
        
        .author {
            margin-right: .5em;
            display: inline-block;
            
            cursor: default;

            &:not(:has(.mark[data-qvalue= ""])) {
                cursor: pointer;
            }

            .affiliation.department {
                padding-left: 0.2em;
            }

            .affiliation:has(.mark[data-qvalue= ""]) {
                display: none;
            }
            
            .mark, .counter {
                display: inline-block;
                text-align: center;
                padding: 0;
                height: $font-size-base;
                font-size: $font-size-base * .9;
                line-height: $font-size-base;
                vertical-align: baseline;
            }
            .counter {
                margin: 0;
                padding-right: .4em;
                padding-left: .4em;
                cursor: default;
                // line-height: $font-size-base;
                // font-size: $font-size-base * .8;
            }
            .mark, .mark.department {
                margin-left: 0;
                width: 1.1rem;
                height: 1.1rem;
                line-height: 1.1rem;
            }

            &::after {
                content: ";";
            }

            &:last-child::after {
                content: "";
            }
        }
    }

    .mark[data-qvalue],
    .name[data-qvalue] {
        cursor: pointer;
    }

    .year {
        grid-area: year;
        text-align: center;
    }
    .tools {
        grid-area: tools;

        &.extra {
            grid-area: extratools;
        }

        text-align: center;
        padding: .3em;

        .tool {
            display: inline-block;
            margin: .3em;
            line-height: 1em;
        }
    }
    .categories {
        grid-area: categories;
        padding: .3em;
        padding-left: .5em;

        .mark {
            width: 3em;
            // text-align: center;
            padding-right: .5em;
            padding-left: .5em;
            margin-right: .5em;
        }
    }

    .abstract {
        grid-area: abs;
    }
    .keywords  {
        grid-area: kw;
    }
    .classification  {
        grid-area: clsf;
    }
    .subtype  {
        grid-area: tp;
    }

    .abstract.title{
        grid-area: absttl;
        &::before {
            content: "Abstract:";
        }
    }

    .keywords.title {
        grid-area: kwttl;
        &::before  {
            content: "Keywords:";
        }
    }

    .classification.title {
        grid-area: clsfttl;
        &::before  {
            content: "Classifiation:";
        }
    }

    .subtype.title { 
        grid-area: tpttl;
        &::before  {
            content: "Type:";
        }
    }

    .matches {
        display: none;
    }

    .listitem {
        display: inline-block;

        &::before {
            content: "; ";
        }

        &:first-child::before {
            content: "";
        }

        &:has(.label.itemid:empty) {
            .label,
            .extralabel {
                display: none;
            }
        }

        .extralabel::before {
            content: ": ";
        }
    }
}

.indexterms .resultcontainer:has(.bi-layer-forward) {
    grid-template-rows: auto auto auto auto auto 2em auto 2.5em;
    grid-template-areas: 
        "title title title year"
        ". authors authors tools"
        ". absttl abs abs"
        ". kwttl kw kw"
        ". clsfttl clsf clsf"
        ". tpttl tp tp"
        ". matchesttl match match"
        ". categories categories extratools"
    ;

    .matches {
        grid-area: match;
        display: block;

        padding-top: 2px;
        padding-bottom: 2px;
    }

    .match {
        display: inline-block;
        margin-top: 1px;
        padding: 0;
        padding-left: .5em;
        margin-bottom: 1px;

        &:hover {
                background-color: $gray-400;
        }

        &:not(:last-child)::after {
            content: ";";

        }

        .required:not(:empty)::before,
        .forbidden:not(:empty)::before {
            content: "; ";
        }

        span {
            padding: .1em;
        }

        .mark {
            padding-left: .5em;
            padding-right: .5em;
        }

        .lang {
            background-color: $gray-400;
        }
    }

    .matches.title { 
        grid-area: matchesttl;
 
        &::before  {
            content: "Index Terms:";
        }
    }
}
