
#mainarea {
    top: 5em;
    display: grid;
    gap: 20px;
    grid-template-columns: auto 340px;
    margin-top: 10px;

    .corecontent {
        grid-column: 1;
    }
}

// .sidebar, 
// .searchbar {
//     @extend .border;
// }

.searchbar {

    &.sticky-top {
        top: 3.5em;
        padding-top: .8em;
        padding-bottom: .8em;
        @extend .shadow-sm; 
    }


    background-color: $white;

    .searchform {
        @extend .border;

        padding: 5px;
        margin-bottom: 5px;

        #searchterms, .input-group-text {
            border: none;
        }

        .form-control:focus {
            outline: none;
            box-shadow: none;
        }

        .input-group-text {
            color: var(--bs-gray-600);
            cursor: pointer;
        }

        form {
            margin-block-end: 0;
        }
    }

    .searchcontainer {
        background-color: var(--bs-gray-300);
        min-height: 2em;
        // padding-left: .5em;
        padding-right: 0em;
        padding-bottom: .3em;

        display: grid;
        grid-template-columns: auto 7em;
        justify-content: top;

        .searchoptions {
            grid-column: 1;

            div {
                display: inline-block;
                margin-top: .2em;
                margin-left: .3em;
            }

            .optioncontainer {
                display: grid;
                grid-template-columns: auto 1.5em;
                height: 1.5em;
                justify-content: stretch;
                justify-self: stretch;

                .searchoption {
                    text-align: center;
                    padding-left: .3em;
                    // padding-right: .3em;

                    &.marker {
                        padding-left: 0;
                    }
                }

                .bi-bookmark::before,
                .bi-person-circle::before {
                    padding-right: .4em;
                    // padding-right: .3em;
                }

                // .searchoption.cat {
                //     width: 1.5em;
                //     padding-left: 0;
                //     text-align: center;
                // }

                .optionclose {
                    border-top-right-radius: 0.5em;
                    border-bottom-right-radius: 0.5em;
                    text-align: center;
                    height: 1.5em;
                    line-height: 1.5em;

                    &.bi-x-lg::before,
                    &.bi-x::before {
                        line-height: 1.5em;
                    }
                }
            }
        }

        .searchtools {
            grid-column: 2;
            text-align: right;
            line-height: 2em;
            padding-right: .5em;

            .tool-item {
                // margin-top: .2em;
                display: inline-block;
            }
        }
    }
}

.resulttypes {

    margin-top: 1em;
    background-color: $white;
    
    

    div {
        display: inline-block;

        div {
            display: grid;
            grid-template-columns: auto 56px;

            margin-right: 1em;
            
            line-height: $font-size-base * 2;
            height: $font-size-base * 2;

            .type {
                padding-left: .5em;
                padding-right: .5em;
                line-height: $font-size-base * 2;
                height: $font-size-base * 2;
            }

            .counter {
                padding-right: .5em;
            }
        }
    }
}

.sidebar {
    grid-column: 2;
    grid-row: 1;
    // width: 340px;

    .sticky-top {
        top: 3.5em;
        padding-top: .8em;
    }

    h3 {

        &:first-of-type {
            margin-top: 1em;
        }

        margin-top: $font-size-base * 1.8;
        font-size: medium;
        font-weight: normal;
        color: $zhawlogo;
    }


    .listgrid {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 6px;

        .cat.box {
            // @extend .border; 
            // @extend .container-fluid;
            display: grid;
            grid-template-columns: 2em auto;
            gap: 0px;
            color: var(--bs-white);
        }
    }
}


.marker {
    height: $font-size-base * 2;
    text-align: center;
    line-height: $font-size-base * 2;
    font-size: $font-size-base * 1.5;

    &.searchoption {
        height: inherit;
        line-height: inherit;
        font-size: $font-size-base;
        width: 1.5em;
        padding-left: 0;
    }
}

.counter {
    @extend .fw-light;

    display: inline-block;
    padding-right: 1em;
    text-align: right;
    border-bottom-right-radius: .6em;
    border-top-right-radius: .6em;
    line-height: $font-size-base * 2;
    height: $font-size-base * 2;
    // font-size: $font-size-base * .9;
}

.person {
    .mark, .counter {
        display: inline-block;
        text-align: center;
        padding: 0;
        height: $font-size-base;
        font-size: $font-size-base * .9;
        line-height: $font-size-base;
        vertical-align: baseline;
    }
    .counter {
        padding-right: .4em;
        padding-left: .4em;
    }
    .mark {
        margin-left: 0.5em;
        width: $font-size-base* 2;
    }
}