@import "bootstrap/scss/functions"; 
@import "bootstrap/scss/variables"; 
@import "bootstrap/scss/maps";
@import "bootstrap/scss/utilities"; 
@import "bootstrap/scss/mixins"; 

// $theme-colors: map-merge($theme-colors, $custom-theme-colors);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
$utilities-text-colors: map-loop($utilities-colors, rgba-css-var, "$key", "text");
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");

// we do not cherry pick but take everything
@import "bootstrap/scss/bootstrap"; // Required
@import "bootstrap-icons/font/bootstrap-icons.scss";

// @import "bootstrap/scss/root"; // Required
// @import "bootstrap/scss/reboot"; // Required
// @import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
// // @import "bootstrap/scss/code";
// @import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
// @import "bootstrap/scss/buttons";
// @import "bootstrap/scss/transitions";
// @import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// // @import "bootstrap/scss/input-group"; // Requires forms
// // @import "bootstrap/scss/custom-forms";
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar"; // Requires nav
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// // @import "bootstrap/scss/jumbotron";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// // @import "bootstrap/scss/media";
// @import "bootstrap/scss/list-group";
// @import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
// @import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
// @import "bootstrap/scss/print";


//
// Custom styles
//

// @import "icon-list";
@import "colours";
@import "baseline";
@import "zhaw_font";
@import "sidebar";
@import "results";
