{
    # Email used for letsencypt or zerossl
    email foo@bar.com

    # expose api admin on the network
    # admin  :2019
    admin off
}


:80 {
    redir / /dashboard/

    rewrite /api/* /api/graphql
    rewrite /stats/* /stats/query

    handle_path /dashboard/* {
        reverse_proxy app:80
    }

    handle_path /api/* {
        reverse_proxy db:8080
    }

    handle_path /stats/* {
        reverse_proxy db:8080
    }
}
